[flake8]
exclude = 
    migrations,
    __pycache__,
    manage.py,
    settings.py,
    .venv,
    venv,
    .env

filename = *.py
accept-encodings = utf-8
inline-quotes = single
max-complexity = 12
max-linenumber = 500
max-line-length = 119
multiline-quotes = double